// estilos gerais de inputs utilizados
@mixin  inputStyle ($color1, $color2){
    .input {
        background-color: $color1;
        border: 1ex solid none;
        border-top-width: 1.7em;
        margin: 0;
        padding: 0;
        color: $color1;
        word-wrap: break-word;
        outline: 7px solid $color1;
        height: 30px;
        font-size: 17px;
        text-align: center;
        transition: all 1s;
        max-width: 190px;
        font-weight: bold;
        border-top-width: 0.2em;
        font-family: 'Courier New', Courier, monospace;
       }
       
       .input:hover {
       
        background-color: $color2;
       }
       
       .input:focus {
        background-color: $color2;
       }
}
@mixin inputStyle2(){
    .input {
        background-color: #212121;
        max-width: 190px;
        height: 40px;
        padding: 10px;
        /* text-align: center; */
        border: 2px solid white;
        border-radius: 5px;
        /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
      }
      
      .input:focus {
        color: rgb(0, 255, 255);
        background-color: #212121;
        outline-color: rgb(0, 255, 255);
        box-shadow: -3px -3px 15px rgb(0, 255, 255);
        transition: all 0.5s;
      }
}